<form (ngSubmit)="salvar()">
  <div class="form-group">
      <label class="form-control-label">Nome</label>
      <input type="text" class="form-control">
  </div>
  <div class="form-group">
      <label class="form-control-label">Email</label>
      <input type="text" class="form-control">
  </div>
  <div class="form-group">
      <label class="form-control-label">Profissão</label>
      <select class="form-control">
        <option value="">Selecione</option>
        <option>Engenheiro</option>
        <option>Programador</option>
      </select>
  </div>
  <button type="button" class="btn btn-primary">Salvar</button>
</form>
